rag-chatbot-system/workflow.json
{
  "name": "RAG Chatbot Webhook",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1aCOW7IA9TEAYzyy1vggku-0fBAyGYpMX",
          "mode": "list",
          "cachedResultName": "patriot",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1aCOW7IA9TEAYzyy1vggku-0fBAyGYpMX"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        -240
      ],
      "id": "256ee82c-fc8b-4453-b5e0-1326c3bd5e61",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MeEQaKxdFzd1nYx7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "=\n{{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        112,
        -240
      ],
      "id": "8727f32b-2d6c-4839-af1e-bd88492d5248",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MeEQaKxdFzd1nYx7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "faqccc",
          "mode": "list",
          "cachedResultName": "faqccc"
        },
        "options": {
          "pineconeNamespace": "faq"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        368,
        -240
      ],
      "id": "8daaeaad-408d-438e-b7f1-15a7079047eb",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "Jnvq5k2VDT6jjEKJ",
          "name": "faqAPI"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        -32
      ],
      "id": "9648bf65-0ccf-44dd-bdf3-7b7fc85e4fbb",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "VWlW16e5SluFHUaC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        512,
        -48
      ],
      "id": "bc98064e-0d4f-4485-bf01-cdfb3eab09d9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "jsCode": "// Get the question from webhook\nconst question = $input.item.json.body.question;\n\n// Return it in the format needed for OpenAI\nreturn {\n  question: question\n};"
      },
      "id": "7e27cfee-91b1-4d1b-a34b-d0c6f92cd99b",
      "name": "Extract Question",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the embedding array from OpenAI response\nconst embedding = $input.item.json.data[0].embedding;\n\n// Return it ready for Pinecone\nreturn {\n  embedding: embedding\n};"
      },
      "id": "522e6578-54ad-4edf-9773-ace8f6e693b2",
      "name": "Prepare Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        144
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7ecdfc63-5619-4376-8bb9-dffbb2f189e0",
      "name": "Webhook2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -256,
        144
      ],
      "webhookId": "db5de8c4-c530-473c-aec5-29cacf69f577"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$credentials.openAiApi}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": \"{{ $json.question }}\",\n  \"model\": \"text-embedding-ada-002\"\n}",
        "options": {}
      },
      "id": "3f3adf08-653f-4d88-8298-c55d7869cb74",
      "name": "OpenAI - Create Embedding2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        144
      ],
      "credentials": {
        "openAiApi": {
          "id": "VWlW16e5SluFHUaC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://faqccc-sp64tof.svc.aped-4627-b74a.pinecone.io",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Api-Key",
              "value": "{{$credentials.pineconeApi}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vector\": {{ JSON.stringify($json.embedding) }},\n  \"topK\": 5,\n  \"includeMetadata\": true\n}",
        "options": {}
      },
      "id": "bdc9e731-0a89-4d6b-a0e5-81e9034b2334",
      "name": "Pinecone - Query1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        144
      ],
      "credentials": {
        "pineconeApi": {
          "id": "Jnvq5k2VDT6jjEKJ",
          "name": "faqAPI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract context from Pinecone matches\nconst matches = $input.item.json.matches || [];\n\n// Build context from top matches\nlet context = '';\nfor (const match of matches) {\n  if (match.metadata && match.metadata.text) {\n    context += match.metadata.text + '\\n\\n';\n  }\n}\n\n// Get original question from webhook\nconst question = $('Webhook2').item.json.body.question;\n\n// Return both for next node\nreturn {\n  context: context,\n  question: question\n};"
      },
      "id": "49ac457d-d11c-40a3-9da3-40b12fe5c554",
      "name": "Prepare Context2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$credentials.openAiApi}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a helpful assistant for The Patriots Initiative. Answer questions based on the provided context. If the context doesn't contain relevant information, say so politely.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Context from documents:\\n{{ $json.context }}\\n\\nQuestion: {{ $json.question }}\\n\\nPlease answer the question based on the context above.\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "id": "6f0cb8c7-d829-4905-af7d-13a4d36ae992",
      "name": "OpenAI - Generate Answer2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        144
      ],
      "credentials": {
        "openAiApi": {
          "id": "VWlW16e5SluFHUaC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"answer\": \"{{ $json.choices[0].message.content }}\",\n  \"question\": \"{{ $('Webhook2').item.json.body.question }}\"\n}",
        "options": {}
      },
      "id": "262cf212-f8aa-44fb-ba5c-55bba976880c",
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1072,
        160
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract Question": {
      "main": [
        [
          {
            "node": "OpenAI - Create Embedding2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Embedding": {
      "main": [
        [
          {
            "node": "Pinecone - Query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Extract Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Create Embedding2": {
      "main": [
        [
          {
            "node": "Prepare Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone - Query1": {
      "main": [
        [
          {
            "node": "Prepare Context2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context2": {
      "main": [
        [
          {
            "node": "OpenAI - Generate Answer2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Generate Answer2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9a045367-73ee-4506-a0ed-ed0744ae3b20",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62c392728e95b809a249c5d49c506b232dffafced6ec3fb365db840fecb1db89"
  },
  "id": "ej_OeUNhYDdWFGOe__6N3",
  "tags": []
}
